name: Package and release

on:
  push:
    tags:
      - '**'

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    env:
      GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Clone project
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Package and release
        uses: BigWigsMods/packager@v2

      - name: Rename zip and upload release.json
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          TAG=${GITHUB_REF#refs/tags/}
          gh release download "$TAG" --pattern "CantHealYou-${TAG}.zip" -D /tmp/release_assets
          mv "/tmp/release_assets/CantHealYou-${TAG}.zip" "/tmp/release_assets/CantHealYou.zip"
          gh release upload "$TAG" "/tmp/release_assets/CantHealYou.zip"
          gh release delete-asset "$TAG" "CantHealYou-${TAG}.zip" --yes
          sed "s/@project-version@/$TAG/g" release.json > /tmp/release.json
          gh release upload "$TAG" /tmp/release.json --clobber
